body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#editor {
    flex: 1;
    height: 100%;
}

#preview {
    flex: 1;
    height: 100%;
}